/* Topbar.scss */

/* Keyframe animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* TopBar component styles */
.top-bar {
  background-color: #240088;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  animation: fadeIn 0.5s ease-in-out; /* Apply fadeIn animation to .top-bar */
}

.top-bar__logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  animation: fadeIn 0.5s ease-in-out; /* Apply fadeIn animation to .top-bar__logo */

  span {
    margin-left: 10px;
  }
}

.top-bar__user-profile {
  display: flex;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out; /* Apply fadeIn animation to .top-bar__user-profile */

  span {
    margin-left: 10px;
  }
}

.top-bar__nav-menu {
  margin: 0 0.6rem 0 2.7rem;
  list-style-type: none;
  display: flex;
  padding: 0;

  li {
    margin-right: 20px;

    a {
      text-decoration: none;
      color: #fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.top-bar__search-bar {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 3rem;

  input[type="text"] {
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
  }

  button {
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}
